main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

main div.List{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 650px) {
    main ul{
        grid-template-columns: 1fr;
    }
}